.edu__content {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.edu__content input,
.edu__content p {
  font-size: 0.875rem;
}

.edu__content-date-container {
  display: flex;
  align-items: center;
  gap: 0.1em;
}

