@font-face {
  font-family: Inknut-Antiqua;
  src: url(./assets/font/InknutAntiqua-Regular.ttf);
}

@font-face {
  font-family: Inria-Serif;
  src: url(./assets/font/InriaSerif-Regular.ttf);
}

@font-face {
  font-family: Inria-Serif;
  src: url(./assets/font/InriaSerif-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url(./assets/font/Inter.ttf);
}

:root {
  --dark-green: #024B00;
  --green: #036700;
  --dark-yellow: #4B3B00;
  --yellow: #927300;
}

body {
  font-family: Inter;
}

input {
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  padding: 0.15em;
}

input:focus {
  outline: none;
  border-bottom-width: 2px;
}

button {
  color: white;
  width: 5.25em;
  height: 2.25em;
  border: none;
  border-radius: 0.3125em;
}

textarea {
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  padding: 0.15em;
  resize: vertical;
  overflow: hidden;
}

textarea:focus {
  outline: none;
  border-bottom-width: 2px;
}

button:hover {
  cursor: pointer;
}

.btn--edit {
  background-color: var(--dark-green);
}

.btn--edit:hover {
  background-color: var(--green);
}

.btn--submit {
  background-color: var(--dark-yellow);
}

.btn--submit:hover {
  background-color: var(--yellow);
}

.content__sect {
  padding: 2em 2em 0 2em;
}

.content__sect .title {
  display: flex;
  gap: 5px;
}

.content__sect .title h2 {
  font-family: Inria-Serif;
  font-weight: 400;
  margin: 0;
}

.content__sect .h3-input,
.content__sect h3 {
  font-family: Inria-Serif;
  font-weight: bold;
  font-size: 1.125rem;
}
